*{
    margin: 0;
    box-sizing: border-box;
}
header {
    height: 40px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
}
header ul {
    text-decoration: none;
}
#email {
    margin-right: 5px;

}
main {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.3fr 1.3fr 1.4fr 1fr;
    grid-template-rows: 80px 80px 431px 271px ;
}
main div{
    border: 1px solid;
}

#logo{ grid-column-start: 2;
padding: 15px 0px;}
#nav{ grid-column: 3/5;}
#menu{grid-column: 2;
grid-row: 2/4;}
#busca{grid-column: 3/6;
grid-row: 2;}
#banner{grid-column: 3/6;
grid-row: 3;
background-image: url(banner.jpg.webp);
background-position: center;
background-size: cover;
background-repeat: no-repeat;}

#prod1 {
    grid-row: 4;
    grid-column: 2;
}
#prod2{
    grid-row: 4;
    grid-column: 3;
}
#prod3{
    grid-row: 4;
    grid-column: 4;
}
#prod4{
    grid-row: 4;
    grid-column: 5;
}

#nav {
    padding: 24px 0;
}

#rownav1 {
    color: #7fad39;
    text-decoration: none;

}

#nav ul {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 0px;
    font-weight: 500px;
    font-family: cairo;
    display: flex;
    justify-content: space-around;
}

.rova{
    text-decoration: none;
    color: black;
}

#nav ul{
    list-style: none;
    padding: 0;
}

